<div class="container">
  <div class="row text-center mt-4">
    <div class="col">
      <img src="https://img.freepik.com/vector-premium/profesor-mostrando-icono-doodle-contorno-dibujado-mano-vector-infografia-profesor-antes-computadora-ilustracion-boceto-infografico-impresion-web-movil-e-infografia-aislado-sobre-fondo-blanco_107173-17716.jpg?w=740" alt=""
        class="img-fluid" width="200px">
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col">
      <h2>CRUD Profesores</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2">
      <label for="txtId" class="from-label">Cedula</label>
      <input type="text" name="id" id="txtId" class="form-control" [(ngModel)]="detalle_profe.cedula_Profe">
    </div>
    <div class="col-md-4">
      <label for="txtNombre" class="from-label">Nombre</label>
      <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="detalle_profe.nombres_Profe">
    </div>
    <div class="col-md-4">
      <label for="txtNombre" class="from-label">Apellido</label>
      <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="detalle_profe.apellidos_Profe">
    </div>
    <div class="col-md-4">
      <label for="txtNombre" class="from-label">Sexo</label>
      <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="detalle_profe.sexo_Profe">
    </div>
    <div class="col-md-2">
      <label for="txtEdad" class="from-label">Edad</label>
      <input type="text" name="id" id="txtEdad" class="form-control" [(ngModel)]="detalle_profe.edad_Profe">
    </div>
    <div class="col-md-4">
      <label for="txtDesc" class="from-label">Fecha de nacimiento</label>
      <input type="text" name="id" id="txtDesc" class="form-control" type="date" [(ngModel)]="detalle_profe.fecha_Nac_Profe">
    </div>
    <div class="col-md-4">
      <label for="txtDesc" class="from-label">Telefono</label>
      <input type="text" name="id" id="txtDesc" class="form-control" [(ngModel)]="detalle_profe.telefono_Profe">
    </div>
    <div class="col-md-4">
      <label for="txtDesc" class="from-label">Titulo Academico</label>
      <input type="text" name="id" id="txtDesc" class="form-control" [(ngModel)]="detalle_profe.titulo_Academico">
    </div>
    <div class="col-md-4">
      <label for="txtDesc" class="from-label">Nombre del titulo</label>
      <input type="text" name="id" id="txtDesc" class="form-control" [(ngModel)]="detalle_profe.nombre_Titulo_Aca">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-success" type="button" (click)="onAddMascota(detalle_profe)">Agregar</button>
            
      <button class="btn btn-primary m-2" type="button" (click)="clear()">Limpiar</button>
    </div>
    
  </div>
  <div class="row mt-5">
    <div class="col">
      <table id="dtMascota" class="table table-striped" style="width: 100%;">
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Fecha de Nacicmiento</th>
            <th>Telefono</th>
            <th>Titulo Academico</th>
            <th>Nombre de titulo academico</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datatable">
            <td><input type="button" value="Seleccionar" (click)="onSetData(item)"></td>
            <td> {{ item.Cedula_Profe }} </td>
            <td>{{ item.Nombres_Profe}}</td>
            <td>{{ item.Apellidos_Profe}}</td>
            <td>{{ item.Sexo_Profe}}</td>
            <td>{{ item.Edad_Profe}}</td>
            <td>{{ item.Fecha_Nac_Profe}}</td>
            <td>{{ item.Telefono_Profe }}</td>
            <td>{{ item.Titulo_Academico }}</td>
            <td>{{ item.Nombre_Titulo_Aca }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>